section.valign-wrapper.container.row.row_bolsa_de_trabajo#bolsa_de_trabajo
  div.col.s4.bolsa_left
    h1 Bolsa de <span class="texto_en_negrita">Trabajo</span>
  div.col.s8.little-padding.bolsa_right
    p Postula a las siguientes ofertas de empleo aptas para personas con discapacidad auditiva.
    p ¿Eres una empresa? <a href="https://www.subscribepage.com/hacking_the_sound_trabajo" target="_blank"> Haz click aquí</a> para publicar un anuncio laboral.
.row.container.bolsa_de_trabajo.bolsa_responsive
  div.col.s3.center-align
    .card
      .card-content
        h2 Supervisor Retail - Empleo para personas con discapacidad
        strong  Medellín, Antioquia
        p Importante compañía requiere URGENTE Supervisor Comercial Experiencia mínima de 1 año Canal moderno y/o Experiencia TAT..
        br
        a(href="http://www.opcionempleo.com.co/job/b49440d708146e91b30b0d2e40a56a68.html" target="_blank"): button.boton-ofertas.btn-small.center-align Postula
  div.col.s3.center-align
    .card
      .card-content
        h2 MECANICOS - Oportunidad para personas con discapacidad
        strong Cauca - Cali, Valle del Cauca 
        p Importante empresa solicita Educación: Técnico o tecnólogo en mecánica o electromecánico industrial con experiencia ....
        br
        a(href="https://www.opcionempleo.com.co/jobview/3e25f4f6eb19b3b979e7339475b64957.html" target="_blank"): button.boton-ofertas.btn-small.center-align Postula
  div.col.s3.center-align    
    .card
      .card-content
        h2 Director del programa Entrenamiento Deportivo (Valledupar) 
        strong Bogotá DC 
        p Importante Institución de Educación Superior de la Región requiere Profesional en Entrenamiento deportivo con Maestría en áreas afines...
        br
        a(href="https://www.opcionempleo.com.co/job/31551835dd093770cc57f54e2ffdbb87.html" target="_blank"): button.boton-ofertas.btn-small.center-align Postula
  div.col.s3.center-align    
    .card
      .card-content
        h2 Auxiliar de Enfermeria - Dosquebradas
        strong Bogotá DC
        p Fundación especialista en Salud Sexual y Reproductiva requiere Auxiliar de Enfermería para trabajar en Dosquebradas...
        br
        a(href="https://www.opcionempleo.com.co/job/4ec3b0b995417056140ca6e146ac4250.html" target="_blank"): button.boton-ofertas.btn-small.center-align Postula