section.valign-wrapper.container.row.como_apoyar_row#como_apoyar
  div.col.s4.como_apoyar_left
    h1 ¿Cómo <span class="texto_en_negrita">apoyar</span>?
  div.col.s8.little-padding.como_apoyar_right
    p <a href="javascript:;" onclick="ml_account('webforms', '1094876', 'p3t3h8', 'show')">Suscríbete a nuestro boletín.</a> Recibe información sobre donaciones, eventos, emprendimientos de discapacitados y fondos de apoyo.
    p <a href="https://paypal.me/rodrigomelgarejo" target="_blank">Dona</a>. Puedes hacerlo a través de Paypal. Publicamos los detalles de las donaciones cada mes por temas de transparencia. 
    p <a href="mailto:rodrigomelgarejoalegre@gmail.com">Participa</a>. Escribenos un mensaje a <a href="mailto:rodrigomelgarejoalegre@gmail.com">rodrigomelgarejoalegre@gmail.com</a> si deseas ser parte de este proyecto.