section.valign-wrapper.container.row.contactanos_row#contactanos
  div.col.s4.contactanos_left
    h1 Contáctanos
  div.col.s8.little-padding.contactanos_right
    p Si tienes alguna duda, consulta, requerimiento o simplemente deseas contactarnos, por favor escríbenos a <a href="mailto:laylaarredondonunez@gmail.com">laylaarredondonunez@gmail.com</a>. 