section.contenedor_ayuda.contenedor_ayuda--publica.valign-wrapper.container.row_ayuda_publica#ayuda_publica
  .row
    h1.col.s4.ayuda_publica_left Centros de <span class="texto_en_negrita">ayuda</span> pública
    div.col.s8.little-padding.fixing-padding-bottom.ayuda_publica_right
      p Instituciones públicas de Colombia que brindan servicios de educación, salud y trabajo para personas en situación de discapacidad auditiva.
      p Selecciona primero un sector y luego tu departamento de residencia    
    .col.s12.espacio_separacion.dropdown_hts
      <!-- Dropdown Trigger -->
      <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Elige un sector</a>
      <a class='dropdown-trigger btn' href='#' data-target='dropdown3'>Elige un Departamento</a>
      <a class='btn dropdown-ocultar' href="#ayuda">Reiniciar</a> 

      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content container'>
        <li class="dropdown-content__option_d2"><a href="#!">EDUCACION</a></li>
        <li class="dropdown-content__option_d2"><a href="#!">SALUD</a></li>
        <li class="dropdown-content__option_d2"><a href="#!">TRABAJO</a></li>
      </ul>

      <!-- Dropdown Structure -->
      <ul id='dropdown3' class='dropdown-content container'>
        <li class="dropdown-content__option_d3"><a href="#!">AMAZONAS</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">ANTIOQUIA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">ARAUCA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">ATLANTICO</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">BOGOTA D. C.</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">BOLIVAR</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">BOYACA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CALDAS</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CAQUETA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CASANARE</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CAUCA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CESAR</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CHOCO</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CORDOBA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">CUNDINAMARCA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">GUAINIA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">GUAVIARE</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">HUILA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">LA GUAJIRA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">MAGDALENA</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">META</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">NACIONAL</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">NARIÑO</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">NORTE DE SANTANDER</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">PUTUMAYO</a></li>
        <li class="dropdown-content__option_d3"><a href="#!">QUINDIO</a></li>               
        <li class="dropdown-content__option_d3"><a href="#!">RISARALDA</a></li>      
        <li class="dropdown-content__option_d3"><a href="#!">SANTANDER</a></li>      
        <li class="dropdown-content__option_d3"><a href="#!">SUCRE</a></li>                   
        <li class="dropdown-content__option_d3"><a href="#!">TOLIMA</a></li>                    
        <li class="dropdown-content__option_d3"><a href="#!">VALLE DEL CAUCA</a></li>     
        <li class="dropdown-content__option_d3"><a href="#!">VAUPES</a></li>                      
        <li class="dropdown-content__option_d3"><a href="#!">VICHADA</a></li>                      
      </ul>
          
    section#ayuda_cont2.json_container_ayuda.row