section.contenedor_ayuda.valign-wrapper.container#ayuda_civil
  .row.row_ayuda_civil
    h1.col.s4.ayuda_civil_left Centros de <span class="texto_en_negrita">ayuda</span> civil
    div.col.s8.little-padding.fixing-padding-bottom.ayuda_civil_right
      p Organizaciones civiles en Colombia que brindan apoyo y servicios para personas en situación de discapacidad.
    .col.s12.espacio_separacion.dropdown_hts
      <!-- Dropdown Trigger -->
      <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Elige un Departamento</a>
      <a class='btn dropdown-ocultar' href="#ayuda">Reiniciar</a>      
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content container'>
        <li class="dropdown-content__option"><a href="#!">ARAUCA</a></li>
        <li class="dropdown-content__option"><a href="#!">ATLÁNTICO</a></li>
        <li class="dropdown-content__option"><a href="#!">ANTIOQUIA</a></li>
        <li class="dropdown-content__option"><a href="#!">BOGOTÁ</a></li>
        <li class="dropdown-content__option"><a href="#!">BOLÍVAR</a></li>
        <li class="dropdown-content__option"><a href="#!">CALDAS</a></li>
        <li class="dropdown-content__option"><a href="#!">CAQUETÁ</a></li>
        <li class="dropdown-content__option"><a href="#!">CASENARE</a></li>
        <li class="dropdown-content__option"><a href="#!">CAUCA</a></li>
        <li class="dropdown-content__option"><a href="#!">CESAR</a></li>
        <li class="dropdown-content__option"><a href="#!">CHOCÓ</a></li>
        <li class="dropdown-content__option"><a href="#!">CORDOBA</a></li>
        <li class="dropdown-content__option"><a href="#!">CUNDINAMARCA</a></li>
        <li class="dropdown-content__option"><a href="#!">LA GUAJIRA</a></li>
        <li class="dropdown-content__option"><a href="#!">MAGDALENA</a></li>
        <li class="dropdown-content__option"><a href="#!">MAICAO</a></li>
        <li class="dropdown-content__option"><a href="#!">META</a></li>
        <li class="dropdown-content__option"><a href="#!">NARIÑO</a></li>
        <li class="dropdown-content__option"><a href="#!">NORTE DE SANTANDER</a></li>
        <li class="dropdown-content__option"><a href="#!">QUINDÍO</a></li>
        <li class="dropdown-content__option"><a href="#!">RISARALDA</a></li>
        <li class="dropdown-content__option"><a href="#!">SANTANDER</a></li>
        <li class="dropdown-content__option"><a href="#!">SUCRE</a></li>
        <li class="dropdown-content__option"><a href="#!">TOLIMA</a></li>
        <li class="dropdown-content__option"><a href="#!">VALLE</a></li>
      </ul>
          
    section#ayuda_cont.json_container_ayuda.row