footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text <span class="texto_en_negrita">Hacking</span> the Sound
        p.grey-text.text-lighten-4 Emprendimiento de apoyo para personas con discapacidad auditiva.
      .col.l4.offset-l2.s12
        h5.white-text Mapa de sitio
        ul
          li
            a.grey-text.text-lighten-3(href='#que_es') ¿Qué es?
          li
            a.grey-text.text-lighten-3(href='#aplicaciones') Aplicaciones
          li
            a.grey-text.text-lighten-3(href='#ayuda_civil') Centros de Ayuda
          li
            a.grey-text.text-lighten-3(href='#bolsa_de_trabajo') Bolsa de Trabajo
          li
            a.grey-text.text-lighten-3(href='#como_apoyar') ¿Cómo apoyo?
          li
            a.grey-text.text-lighten-3(href='#contactanos') Contáctanos
  .footer-copyright
    .container
      | © 2018 Rodrigo Melgarejo Alegre - Layla Samara Arredondo Nuñez

