div.navbar-fixed
  nav.menu-principal
    div.nav-wrapper.container
      a(href="#").brand-logo <span class="texto_en_negrita">Hacking</span> the Sound
      ul#nav-mobile.right.hide-on-med-and-down
        li: a(href="#que_es") ¿Qué es? <span class="vertical_line_menu_item"></span>
        li: a(href="#aplicaciones") Aplicaciones<span class="vertical_line_menu_item"></span>
        li: a(href="#ayuda_civil") Centros de Ayuda<span class="vertical_line_menu_item"></span>
        li: a(href="#bolsa_de_trabajo") Bolsa de Trabajo <span class="vertical_line_menu_item"></span>
        li: a(href="#como_apoyar") ¿Cómo apoyo? <span class="vertical_line_menu_item"></span>
        li: a(href="#contactanos") Contáctanos
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>